body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(assets/_570a86e6-c501-48fc-b6bc-6fab597663f6.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10;
    margin: 10;
    padding-bottom: 100px;
    color: rgb(211, 141, 12);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgb(211, 141, 12);
}

li{
    float: left;
}
li a{
    display: block;
    color: wheat;
    text-align: center;
    padding: 15px;
    text-decoration: none;

}

li a:hover:not(.active){
    background-color: rgb(242, 171, 38);
}

footer{
    
    color:  rgb(211, 141, 12);
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.parrafo{
text-align: justify;
color:  rgb(155, 110, 27);
}

.active {
    background-color:  rgb(155, 110, 27);
}

